
.formControl.error input,
.formControl.error textarea {
    border: solid red 2px;
}

.formControl input {
    padding: 10px;
    margin-bottom: 10px;
}

.formControl.error span {
    color: red;
    font-weight: bold;
}

.formSummaryError {
    padding: 5px;
    color: red;
    width: 150px;
    margin-bottom: 20px;
    text-align: center;
}

.saveBtn {
    margin-top: 6%;
    margin-bottom: 2%;
    color: white;
    background: #49494c;
    width: 100px;
    height: 30px;
}
