
.formControl.error input,
.formControl.error textarea
{
    border: solid red 2px;
}

.formControl.error span
{
    color: white;
    font-weight: bold;
}
.formSummaryError {
    border: solid red 2px;
    padding: 5px;
    color: white;
    width: 150px;
    margin-bottom: 10px;
    text-align: center;
}
