.posts {
    margin-top: 10px;
    padding: 10px;
}
.postsBlock {
    padding-left: 10px;
    margin-top: 55px;
    width: 890px;
}
.postsBlock h3 {
    text-align: center;
    box-shadow: 7px 4px 20px 14px rgb(0, 236, 248);
    border-radius: 10px;
    width: 870px;
    color: white;
    font-style: italic;
    font-weight: 900;
}
.postsBlock form {
    text-align: center;
}
.postsBlock textarea{
    margin: 0px;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    margin-top: 25px;
    opacity: 0.8;
    padding: 10px;
}
.postsBlock button {
    border-radius: 10px;
    height: 40px;
    width: 80px;
    background: #00ead5;
    text-decoration: underline;
    font-family: cursive;
    box-sizing: border-box;
    margin-top: 20px;
}
.postsBlock button:hover {
    height: 60px;
    width: 100px;
}
.wrapperAddBtn {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    margin: 10px auto;
}
