.header {
    grid-area: h; /* короткое название */
    background: black;
    opacity: 0.7;
}

.loginBlock{
    float: right;
}
.loginBlock a {
    color: white;
}
.header img {
    width: 50px;
    padding: 10px;
}
.loginBlock button {
    background: #00ead5;
    text-decoration: underline;
    font-family: cursive;
    margin: 10px;
    border-radius: 10px;
    width: 70px;
    height: 35px;
}
.loginBlock {
    color:white;
}