.descriptionBlock {
    padding: 10px;
    position: relative;
}

.descriptionBlock img {
    box-shadow: 20px 20px rgba(250, 246, 246, 0.58);
}

.status {
    padding-left: 10px;
    line-height: 50px;
    font-family: 'Nunito Sans', sans-serif;
}

.wrapperStatus {
    background-color: #3b4351;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    flex-direction: row;
    border-radius: 10px;
    color: #01dff5;
    height: 50px;
    width: 890px;

}

.mainPhoto {
    height: 180px;
}

.contact {
    padding-left: 10px;
}

.selfData {
    padding-top: 30px;
    color: antiquewhite;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}

.wrapperInfoDescription {
    box-shadow: 0px 4px 20px 14px rgb(176, 183, 183);
    border-radius: 10px;
    padding: 15px;
    width: 800px;
    margin-left: 33px;
}


.editBtn {
    background: #00ead5;
    text-decoration: underline;
    font-family: cursive;
    margin-left: 10px;
    border-radius: 10px;
    width: 70px;
    height: 35px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.fileInput {
    position: absolute;
    top: 220px;
    left: 20px;

}
