.descriptionBlock {
padding: 10px;
    position: relative;
}
.descriptionBlock img{
    box-shadow: 20px 20px rgb(0, 0, 0, 0.58);
}
.status{
    position: absolute;
    top: 365px;
}
.wrapperStatus{
    background-color: #3b4351;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    flex-direction: row;
    border-radius: 10px;
    color: #01dff5;
    height: 50px;
    width: 323px;

}