.selectedPage {
    font-weight: bold;
}

.paginator {
    margin: 10px;
    text-align: center;
}

.pageNumber {
    padding: 9px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: red;
}

.btnPaginator {
    border-radius: 10px;
    height: 30px;
    width: 80px;
    background: #00ead5;
    text-decoration: underline;
    font-family: cursive;
    box-sizing: border-box;
    margin: 10px 15px;
}