.login {
    color: white;
    padding-top: 15px;
    padding-left: 50px;
}

.rememberMe {
    color: white;
    padding-bottom: 15px;
}

.loginButtonRegistration {
    color: white;
    background: #49494c;
    width: 100px;
    height: 30px;
    margin-bottom: 500px;
}

form {
    padding-left: 50px;
}
.wrapperTestsData {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    color:white;
    font-weight: bold;
    font-size: 20px;
}