body {

}

.app-wrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 60px 1fr;
    width: 1100px;;
    margin: 0 auto;
    grid-template-areas: "h h" "n c";
}

.app-wrapper-content {
    grid-area: c;
    background: rgba(22, 22, 23, 0.6);
}


.app {
    background: url(assets/images/bg_image.jpg) no-repeat center center fixed;
    width: 1100px;
    margin: 0 auto;
    background-size: cover;
}






